@model IEnumerable<BLL.Models.AddressDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Edit", new { id = 0 }, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubdivisionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СountFloor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СountEntrance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubdivisionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СountFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СountEntrance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AddressId }, new { @class = "btn btn-sm btn-success" }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-sm btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AddressId }, new { @class = "btn btn-sm btn-danger delbutton", data_id = item.AddressId })
            </td>
        </tr>
    }

</table>

@section MyScripts
{
    <script type="text/javascript">

       $(function () {
           $('.delbutton').click(function (e) {
               e.preventDefault();
               if (confirm('Вы хотите удалить запись??')) {
                    $.ajax({
                        url: "@Url.Action("Delete", "Address")",
                        type: 'POST',
                        data: { id: $(this).attr('data-id') },
                        success: function (data) {
                            if (data == "OK") {
                                window.location.href = "@Url.Action("Index", "Address")";
                            }
                            else
                                alert("Error");
                        },
                        error: function (data) {
                            alert(data);
                        }
                    });
                }
           });
       });

    </script>
    }
