@model IEnumerable<BLL.Models.AddressDTO>

@{
    ViewBag.Title = "List of Addresses";
}

<h2>List of Addresses</h2>

<p>
    @Html.ActionLink("Create New", "Edit", new { id = 0 }, new { @class = "btn btn-success" })
</p>

<div id="addresses">

</div>

@section DeleteAddressScript
{
    <script type="text/javascript">

        $(function () {
            $('#addresses').load("@Url.Action("VmAddressPaging", "Address")");

            $('body').on('click', '.mybtnpaging', function () {

                $("#addresses").load("@Url.Action("VmAddressPaging", "Address")",
                     {
                         currentPage: $(this).text()
                     });
            });

           $('.delbutton').click(function (e) {
               e.preventDefault();
               if (confirm('Вы хотите удалить запись??')) {
                    $.ajax({
                        url: "@Url.Action("Delete", "Address")",
                        type: 'POST',
                        data: { id: $(this).attr('data-id') },
                        success: function (data) {
                            if (data == "OK") {
                                window.location.href = "@Url.Action("Index", "Address")";
                            }
                            else
                                alert("Error");
                        },
                        error: function (data) {
                            alert(data);
                        }
                    });
                }
           });
       });

    </script>
}
