<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Preloader/stylePreloader.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    @*<div class="container">*@
        <nav class="navbar sticky-top navbar-expand-lg justify-content-between navbar-dark bg-primary"
             style="display: block;">
            <div class="row ">
                <a class="navbar-brand col-xs-2 col-sm-2 col-md-2 col-lg-2" href="#" style="margin-right: 0rem;">
                    <img src="globe-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Window to the world
                </a>

                <ul class="navbar-nav col-xs-7 col-sm-7 col-md-7 col-lg-7" style="max-height:20px;">
                    <li class="nav-item active">
                        @Html.ActionLink("Map", "Map", "Map", new { area = "" }, new { @class = "nav-link" })
                        @*<a class="nav-link" href="#">Map <span class="sr-only">(current)</span></a>*@
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Address", "Index", "Address", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Street", "Index", "Street", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("About", "About", "About", new { area = "" }, new { @class = "nav-link" })
                    </li>
              
                </ul>
                <div class="btn-group col-xs-2 col-sm-2 col-md-2 col-lg-2 justify-content-end">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </nav>
    @*</div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <div id="hellopreloader">
        <div id="hellopreloader_preload"></div>
        <p>
            <a href="http://hello-site.ru"></a>
        </p>
    </div>

    <script src="~/Scripts/Preloader/preloaderScript.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("DeleteAddressScript", required: false)
    @RenderSection("DeleteStreetScript", required: false)
    @RenderSection("DeleteSubdivisionScript", required: false)
    <style>
            #hellopreloader > p {
                display: none;
            }
            #hellopreloader_preload {
                display: block;
                position: fixed;
                z-index: 99999;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                min-width: 1000px;
                background: #2574A9 url(http://hello-site.ru//main/images/preloads/audio.svg) center center no-repeat;
                background-size: 41px;
            }
        </style>
</body>
</html>